typing-extensions>=4.8.0
Pillow>=10.2.0
numpy>=1.26.0
python-dotenv>=1.0.1
psutil>=5.9.0

torch>=2.1.0
transformers>=4.38.0
accelerate>=0.27.0
sentencepiece>=0.1.99
safetensors>=0.4.2
bitsandbytes>=0.42.0 ; sys_platform == "linux"

diffusers>=0.27.0
huggingface-hub>=0.20.3

opencv-python>=4.9.0
insightface>=0.7.3
onnxruntime-gpu>=1.17.0 ; sys_platform == "linux"

edge-tts>=6.1.0

rembg>=2.0.56
face_alignment
imageio
imageio-ffmpeg
librosa
numba
resampy
pydub
scipy
kornia
yacs
pyyaml
joblib
scikit-image
basicsr
facexlib
gfpgan

boto3>=1.34.0
botocore>=1.34.0
